@import "tailwindcss";

@theme {
  --font-display: var(--font-syne), sans-serif;
  --font-mono: var(--font-space), monospace;
  --font-sans: var(--font-space), sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 3.1%;
    --foreground: 0 0% 98%;
  }
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}
